# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Additional Flutter build artifacts
android/.gradle/
android/app/build/

# iOS build artifacts
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Linux build artifacts
linux/build/

# macOS build artifacts
macos/Flutter/ephemeral/

# Windows build artifacts
windows/Flutter/ephemeral/

# Firebase
firebase.json

# VSCode (optional, uncomment if you'd like to exclude it)
.vscode/

# Firebase configuration
firebase_options.dart
/android/app/google-services.json
